.peliculas{
    height: 300px;
    border: 2px solid red;
    display: flex;

    img{
        height: auto;
        width: auto;
    }

    div{
        width: 50%;
        text-align: center;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-evenly;  
        overflow: hidden;
    }
}

.pipi{
    width:100%;
}