.bar{
    display: flex;
    height: 8vh;
    border: 1px solid red;
    align-content: center;
    align-items: center;
    width:100%;
    margin:0;
    padding:0;
    background-color: magenta;

    a{
        flex:1;
        text-align: center;
        text-decoration: none;
        
    }
}

